@charset "UTF-8";

@font-face {
  font-family: "blizzard-full";
  src:url("fonts/blizzard-full.eot");
  src:url("fonts/blizzard-full.eot#iefix") format("embedded-opentype"),
    url("fonts/blizzard-full.woff") format("woff"),
    url("fonts/blizzard-full.ttf") format("truetype"),
    url("fonts/blizzard-full.svg#blizzard-full") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "blizzard-full" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="asset-icon-"]:before,
[class*=" asset-icon-"]:before {
  font-family: "blizzard-full" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asset-icon-a:before {
  content: "\61";
}
.asset-icon-academic:before {
  content: "\62";
}
.asset-icon-accounting-services:before {
  content: "\63";
}
.asset-icon-admin:before {
  content: "\64";
}
.asset-icon-admin-user:before {
  content: "\65";
}
.asset-icon-administrative-offices:before {
  content: "\66";
}
.asset-icon-ambulance:before {
  content: "\67";
}
.asset-icon-ambulatory-care:before {
  content: "\68";
}
.asset-icon-angiography:before {
  content: "\69";
}
.asset-icon-apparel-childrens:before {
  content: "\6a";
}
.asset-icon-apparel-men:before {
  content: "\6b";
}
.asset-icon-apparel-unisex:before {
  content: "\6c";
}
.asset-icon-apparel-women:before {
  content: "\6d";
}
.asset-icon-artists-alley:before {
  content: "\6e";
}
.asset-icon-athletic:before {
  content: "\6f";
}
.asset-icon-attractions:before {
  content: "\70";
}
.asset-icon-attractions-flag:before {
  content: "\71";
}
.asset-icon-autographs:before {
  content: "\72";
}
.asset-icon-b:before {
  content: "\73";
}
.asset-icon-banks:before {
  content: "\74";
}
.asset-icon-behavioral-health:before {
  content: "\75";
}
.asset-icon-billing-office:before {
  content: "\76";
}
.asset-icon-booth:before {
  content: "\77";
}
.asset-icon-borewell:before {
  content: "\78";
}
.asset-icon-building:before {
  content: "\79";
}
.asset-icon-busstop:before {
  content: "\7a";
}
.asset-icon-c:before {
  content: "\41";
}
.asset-icon-cancel:before {
  content: "\42";
}
.asset-icon-cardiology:before {
  content: "\43";
}
.asset-icon-cardiopulmonary-cardiac:before {
  content: "\44";
}
.asset-icon-carnegie-mellon:before {
  content: "\45";
}
.asset-icon-celebrities:before {
  content: "\46";
}
.asset-icon-chaplains:before {
  content: "\47";
}
.asset-icon-checkdam:before {
  content: "\48";
}
.asset-icon-clinical-consultants:before {
  content: "\49";
}
.asset-icon-complex:before {
  content: "\4a";
}
.asset-icon-construction:before {
  content: "\4b";
}
.asset-icon-costumes:before {
  content: "\4c";
}
.asset-icon-ct-scan:before {
  content: "\4d";
}
.asset-icon-d:before {
  content: "\4e";
}
.asset-icon-digestive-health-center:before {
  content: "\4f";
}
.asset-icon-dining:before {
  content: "\50";
}
.asset-icon-drawingroom:before {
  content: "\51";
}
.asset-icon-drinking-water:before {
  content: "\52";
}
.asset-icon-e:before {
  content: "\53";
}
.asset-icon-electronics:before {
  content: "\54";
}
.asset-icon-elevator:before {
  content: "\55";
}
.asset-icon-emergency:before {
  content: "\56";
}
.asset-icon-emergency-waiting:before {
  content: "\57";
}
.asset-icon-envelope:before {
  content: "\58";
}
.asset-icon-exhibitors:before {
  content: "\59";
}
.asset-icon-extend:before {
  content: "\5a";
}
.asset-icon-f:before {
  content: "\30";
}
.asset-icon-family-rides:before {
  content: "\31";
}
.asset-icon-fan-group:before {
  content: "\32";
}
.asset-icon-fashion:before {
  content: "\33";
}
.asset-icon-fiscal-services:before {
  content: "\34";
}
.asset-icon-footware:before {
  content: "\35";
}
.asset-icon-fun:before {
  content: "\36";
}
.asset-icon-functionhalls:before {
  content: "\37";
}
.asset-icon-g:before {
  content: "\38";
}
.asset-icon-games:before {
  content: "\39";
}
.asset-icon-garden:before {
  content: "\21";
}
.asset-icon-gascylinder:before {
  content: "\22";
}
.asset-icon-gents-change-room:before {
  content: "\23";
}
.asset-icon-gift-shop:before {
  content: "\24";
}
.asset-icon-graduation:before {
  content: "\25";
}
.asset-icon-guesthouse:before {
  content: "\26";
}
.asset-icon-guesthouse-1:before {
  content: "\27";
}
.asset-icon-guesthouses:before {
  content: "\28";
}
.asset-icon-h:before {
  content: "\29";
}
.asset-icon-hall:before {
  content: "\2a";
}
.asset-icon-handbags:before {
  content: "\2b";
}
.asset-icon-health-beauty:before {
  content: "\2c";
}
.asset-icon-health-info-management:before {
  content: "\2d";
}
.asset-icon-health-sciences:before {
  content: "\2e";
}
.asset-icon-help-desk:before {
  content: "\2f";
}
.asset-icon-home:before {
  content: "\3a";
}
.asset-icon-home-furnishing:before {
  content: "\3b";
}
.asset-icon-human-resources:before {
  content: "\3c";
}
.asset-icon-i:before {
  content: "\3d";
}
.asset-icon-infection:before {
  content: "\3e";
}
.asset-icon-information-desk:before {
  content: "\3f";
}
.asset-icon-information-services:before {
  content: "\40";
}
.asset-icon-intensive-care:before {
  content: "\5b";
}
.asset-icon-j:before {
  content: "\5d";
}
.asset-icon-jewellery:before {
  content: "\5e";
}
.asset-icon-k:before {
  content: "\5f";
}
.asset-icon-kids-rides:before {
  content: "\60";
}
.asset-icon-kitchen:before {
  content: "\7b";
}
.asset-icon-l:before {
  content: "\7c";
}
.asset-icon-ladies-change-room:before {
  content: "\7d";
}
.asset-icon-library:before {
  content: "\7e";
}
.asset-icon-lockers:before {
  content: "\5c";
}
.asset-icon-lost-and-found:before {
  content: "\e000";
}
.asset-icon-lounges:before {
  content: "\e001";
}
.asset-icon-m:before {
  content: "\e002";
}
.asset-icon-map:before {
  content: "\e003";
}
.asset-icon-marker:before {
  content: "\e004";
}
.asset-icon-materinity-care:before {
  content: "\e005";
}
.asset-icon-mcmg-gastroenterology:before {
  content: "\e006";
}
.asset-icon-medical-records:before {
  content: "\e007";
}
.asset-icon-meditation:before {
  content: "\e008";
}
.asset-icon-midcoast-cardiology:before {
  content: "\e009";
}
.asset-icon-midcoast-pediatrics:before {
  content: "\e00a";
}
.asset-icon-mri:before {
  content: "\e00b";
}
.asset-icon-museums:before {
  content: "\e00c";
}
.asset-icon-n:before {
  content: "\e00d";
}
.asset-icon-nephrology:before {
  content: "\e00e";
}
.asset-icon-nuclear-medicine:before {
  content: "\e00f";
}
.asset-icon-nurses:before {
  content: "\e010";
}
.asset-icon-o:before {
  content: "\e011";
}
.asset-icon-p:before {
  content: "\e012";
}
.asset-icon-park:before {
  content: "\e013";
}
.asset-icon-park01:before {
  content: "\e014";
}
.asset-icon-parking:before {
  content: "\e015";
}
.asset-icon-patient-financial:before {
  content: "\e016";
}
.asset-icon-patient-information-services:before {
  content: "\e017";
}
.asset-icon-patient-safety:before {
  content: "\e018";
}
.asset-icon-performance:before {
  content: "\e019";
}
.asset-icon-pharmacy:before {
  content: "\e01a";
}
.asset-icon-phone:before {
  content: "\e01b";
}
.asset-icon-physician:before {
  content: "\e01c";
}
.asset-icon-pigeon-font-icons-50x50:before {
  content: "\e01d";
}
.asset-icon-pigeon-logo:before {
  content: "\e01e";
}
.asset-icon-pigeon-logo-circle:before {
  content: "\e01f";
}
.asset-icon-plus:before {
  content: "\e020";
}
.asset-icon-pond:before {
  content: "\e021";
}
.asset-icon-pram:before {
  content: "\e022";
}
.asset-icon-privacy-office:before {
  content: "\e023";
}
.asset-icon-public-carridor:before {
  content: "\e024";
}
.asset-icon-pulmonology:before {
  content: "\e025";
}
.asset-icon-q:before {
  content: "\e026";
}
.asset-icon-qr-download:before {
  content: "\e027";
}
.asset-icon-r:before {
  content: "\e028";
}
.asset-icon-registered:before {
  content: "\e029";
}
.asset-icon-repeat:before {
  content: "\e02a";
}
.asset-icon-residence-halls:before {
  content: "\e02b";
}
.asset-icon-restrooms:before {
  content: "\e02c";
}
.asset-icon-rock:before {
  content: "\e02d";
}
.asset-icon-room:before {
  content: "\e02e";
}
.asset-icon-s:before {
  content: "\e02f";
}
.asset-icon-school:before {
  content: "\e030";
}
.asset-icon-seat:before {
  content: "\e031";
}
.asset-icon-services:before {
  content: "\e032";
}
.asset-icon-shield:before {
  content: "\e033";
}
.asset-icon-shopping-planner:before {
  content: "\e034";
}
.asset-icon-sign-in:before {
  content: "\e035";
}
.asset-icon-sign-out:before {
  content: "\e036";
}
.asset-icon-signin:before {
  content: "\e037";
}
.asset-icon-signout:before {
  content: "\e038";
}
.asset-icon-small-press:before {
  content: "\e039";
}
.asset-icon-social-workers:before {
  content: "\e03a";
}
.asset-icon-speciality:before {
  content: "\e03b";
}
.asset-icon-spl-busstop:before {
  content: "\e03c";
}
.asset-icon-spl-fireexit:before {
  content: "\e03d";
}
.asset-icon-spl-fireextinguisher:before {
  content: "\e03e";
}
.asset-icon-spl-firstaid:before {
  content: "\e03f";
}
.asset-icon-spl-food:before {
  content: "\e040";
}
.asset-icon-spl-guestservice:before {
  content: "\e041";
}
.asset-icon-spl-restroom-female:before {
  content: "\e042";
}
.asset-icon-spl-restroom-male:before {
  content: "\e043";
}
.asset-icon-spl-safespot:before {
  content: "\e044";
}
.asset-icon-spl-stroller:before {
  content: "\e045";
}
.asset-icon-spl-taxistand:before {
  content: "\e046";
}
.asset-icon-spl-telphones:before {
  content: "\e047";
}
.asset-icon-sporting-goods:before {
  content: "\e048";
}
.asset-icon-staircase:before {
  content: "\e049";
}
.asset-icon-star:before {
  content: "\e04a";
}
.asset-icon-stationary:before {
  content: "\e04b";
}
.asset-icon-storeroom:before {
  content: "\e04c";
}
.asset-icon-surg-north:before {
  content: "\e04d";
}
.asset-icon-surg-south:before {
  content: "\e04e";
}
.asset-icon-surgical-care:before {
  content: "\e04f";
}
.asset-icon-surgical-service:before {
  content: "\e050";
}
.asset-icon-surgical-suite:before {
  content: "\e051";
}
.asset-icon-t:before {
  content: "\e052";
}
.asset-icon-tables:before {
  content: "\e053";
}
.asset-icon-telephone:before {
  content: "\e054";
}
.asset-icon-temple:before {
  content: "\e055";
}
.asset-icon-temples:before {
  content: "\e056";
}
.asset-icon-thrill-rides:before {
  content: "\e057";
}
.asset-icon-ticket:before {
  content: "\e058";
}
.asset-icon-toys:before {
  content: "\e059";
}
.asset-icon-transcription:before {
  content: "\e05a";
}
.asset-icon-transformer:before {
  content: "\e05b";
}
.asset-icon-u:before {
  content: "\e05c";
}
.asset-icon-ultra-scan:before {
  content: "\e05d";
}
.asset-icon-v:before {
  content: "\e05e";
}
.asset-icon-valunteer-office:before {
  content: "\e05f";
}
.asset-icon-w:before {
  content: "\e060";
}
.asset-icon-waitingroom:before {
  content: "\e061";
}
.asset-icon-watertank:before {
  content: "\e062";
}
.asset-icon-wheelchair:before {
  content: "\e063";
}
.asset-icon-wifi:before {
  content: "\e064";
}
.asset-icon-womens-health-care:before {
  content: "\e065";
}
.asset-icon-x:before {
  content: "\e066";
}
.asset-icon-y:before {
  content: "\e067";
}
.asset-icon-z:before {
  content: "\e068";
}
.asset-icon-zoo-atm:before {
  content: "\e069";
}
.asset-icon-zoo-bat:before {
  content: "\e06a";
}
.asset-icon-zoo-bear:before {
  content: "\e06b";
}
.asset-icon-zoo-birds:before {
  content: "\e06c";
}
.asset-icon-zoo-bonobo:before {
  content: "\e06d";
}
.asset-icon-zoo-butterfly:before {
  content: "\e06e";
}
.asset-icon-zoo-camel:before {
  content: "\e06f";
}
.asset-icon-zoo-cat:before {
  content: "\e070";
}
.asset-icon-zoo-cheetha:before {
  content: "\e071";
}
.asset-icon-zoo-elephant:before {
  content: "\e072";
}
.asset-icon-zoo-gate:before {
  content: "\e073";
}
.asset-icon-zoo-giraffe:before {
  content: "\e074";
}
.asset-icon-zoo-gorilla:before {
  content: "\e075";
}
.asset-icon-zoo-hippo:before {
  content: "\e076";
}
.asset-icon-zoo-lion:before {
  content: "\e077";
}
.asset-icon-zoo-manatee:before {
  content: "\e078";
}
.asset-icon-zoo-monkey:before {
  content: "\e079";
}
.asset-icon-zoo-orangutan:before {
  content: "\e07a";
}
.asset-icon-zoo-pig:before {
  content: "\e07b";
}
.asset-icon-zoo-reptile:before {
  content: "\e07c";
}
.asset-icon-zoo-rhino:before {
  content: "\e07d";
}
.asset-icon-zoo-sloth:before {
  content: "\e07e";
}
.asset-icon-zoo-visiting-spot:before {
  content: "\e07f";
}
.asset-icon-zoo-wolf:before {
  content: "\e080";
}
.asset-icon-chair:before {
  content: "\e081";
}
.asset-icon-conference-hall:before {
  content: "\e082";
}
.asset-icon-marker-circle:before {
  content: "\e083";
}
.asset-icon-marker-full:before {
  content: "\e084";
}
.asset-icon-assets:before {
  content: "\e085";
}
.asset-icon-srivari-padalu:before {
  content: "\e086";
}
.asset-icon-violin:before {
  content: "\e087";
}
.asset-icon-water-fountain:before {
  content: "\e088";
}
.asset-icon-events-a:before {
  content: "\e089";
}
.asset-icon-facilities:before {
  content: "\e08a";
}
.asset-icon-current-position:before {
  content: "\e08b";
}
.asset-icon-fish:before {
  content: "\e08c";
}
.asset-icon-gallery:before {
  content: "\e08d";
}
.asset-icon-jellyfish:before {
  content: "\e08e";
}
.asset-icon-lobster:before {
  content: "\e08f";
}
.asset-icon-riverotter:before {
  content: "\e090";
}
.asset-icon-seahorse:before {
  content: "\e091";
}
.asset-icon-octopus:before {
  content: "\e092";
}
.asset-icon-baby-change:before {
  content: "\e093";
}
.asset-icon-check-in:before {
  content: "\e094";
}
.asset-icon-money-exchange:before {
  content: "\e095";
}
.asset-icon-shower-female:before {
  content: "\e096";
}
.asset-icon-shower-man:before {
  content: "\e097";
}
.asset-icon-showers:before {
  content: "\e098";
}
.asset-icon-smoking-area:before {
  content: "\e099";
}
.asset-icon-moneycorp:before {
  content: "\e09a";
}
.asset-icon-navigate:before {
  content: "\e09b";
}
.asset-icon-navigate-big:before {
  content: "\e09c";
}
